@inherits SearchTabBase

<TabGrid>

    <TabGridColumn md="3">
        <TabGridRow RowHeight="@RowHeight.Full">
            <p>Search</p>
            <p>Example - should be able to list all tags</p>
            <p>Full search functionality to be added</p>
            <MudButton OnClick="OnSearch">Get all tags</MudButton>
        </TabGridRow>
    </TabGridColumn>

    <TabGridColumn md="9">
        <TabGridRow RowHeight="@RowHeight.Full">
            <AppCardScrollContainer>
                <HeaderContent>
                    <MudText Typo="Typo.h6">Search Results</MudText>
                </HeaderContent>
                <ChildContent>
                    <AppTable T="@PlayerItem"
                              Items="@Results">
                        <RowTemplate>
                            <MudTd Class="td-icon">
                                <MudIcon Icon="@context.Type.GetIcon()" Size="@Size.Small" />
                            </MudTd>
                            <MudTd>
                                <ActionLink Typo="@Typo.body1" Text="@context.Name" OnClick="@(() => OnViewItem(context))"></ActionLink>
                            </MudTd>
                        </RowTemplate>
                    </AppTable>
                </ChildContent>
            </AppCardScrollContainer>
        </TabGridRow>
    </TabGridColumn>

</TabGrid>