@inherits SpotifyTabBase

<WhipTab>
    <WhipColumn md="3">
        <WhipRow RowHeight="@RowHeight.Stretch">

            <SpotifyCard Title="Spotify"
                         IsLoading="@Loading">
                <ChildContent>
                    <SpotifySync Loading="@Loading"
                                 Library="@FullLibrary" />
                    <SpotifySearch OnShowArtist="@ShowArtist" />
                </ChildContent>
            </SpotifyCard>

        </WhipRow>
    </WhipColumn>
    <WhipColumn md="9">
        <WhipRow RowHeight="@RowHeight.Full">
            <SpotifyCard IsLoading="@Loading"
                         LoadingCaption="Loading library...">
                <ChildContent>
                    @if (Loading)
                    {
                        <MudContainer Class="pa-3">
                            <p>Loading...</p>
                        </MudContainer>
                    }
                    else
                    {
                        <DynamicTabs FixedItems="@FixedItems"
                                     DynamicItems="@DynamicItems"
                                     SelectedItem="@SelectedItem" />
                    }
                </ChildContent>
            </SpotifyCard>
        </WhipRow>
    </WhipColumn>
</WhipTab>